@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Inter");
:root {
  --hero_border_radius: 30px;
  --block_border_radius: 12px;
}

default_head,
.add_serv_holder,
.serv_blocks {
  display: none;
}

@font-face {
  font-family: "MTC-Futura New";
  src: url("/fonts/MTC-FuturaNewBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MTC-Futura New";
  src: url("/fonts/MTC-FuturaNewHeavi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MTC-Futura New";
  src: url("/fonts/MTC-FuturaNewDemi.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MTC-Futura New";
  src: url("/fonts/MTC-FuturaNewMedium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MTC-Futura New";
  src: url("/fonts/MTC-FuturaNewLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MTC_Highway";
  src: url("/fonts/MTC_Highway-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MTC_Highway";
  src: url("/fonts/MTC_Highway-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MTC_Highway";
  src: url("/fonts/MTC_Highway-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MTC-Futura New Cond";
  src: url("/fonts/MTC-FuturaNewCondExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "MTC-Futura New Cond";
  src: url("/fonts/MTC-FuturaNewCondBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MTC-Futura New Cond";
  src: url("/fonts/MTC-FuturaNewCondMedium.ttf") format("truetype");
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: "MTC-Futura New Cond";
  src: url("/fonts/MTC-FuturaNewCondBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.page_content {
  max-width: 100vw !important;
  width: 100% !important;
  min-height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  background: #fff;
  padding-top: 5px !important;

  color: #000000e0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-style: normal;
}

body {
  background: #fff !important;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.mtc_evolution_main {
  max-width: 1180px;
  margin: 0px auto;
  gap: 40px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  min-width: 330px;
}
@media (max-width: 1300px) {
  .mtc_evolution_main {
    width: 880px;
  }
}
@media (max-width: 940px) {
  .mtc_evolution_main {
    width: 680px;
    margin-top: 30px;
    gap: 30px;
  }
}
@media (max-width: 750px) {
  .mtc_evolution_main {
    width: 90vw;
  }
}

#mtc_evolution_hero_img_small {
  width: 96vw;
  max-width: 1820px;
  overflow: hidden;
  margin: 0px auto;
  background: #000;
  border-radius: var(--hero_border_radius);
  -webkit-border-radius: var(--hero_border_radius);
  -moz-border-radius: var(--hero_border_radius);
  -ms-border-radius: var(--hero_border_radius);
  -o-border-radius: var(--hero_border_radius);
  display: flex;
  justify-content: center;
  align-items: center;
}
#mtc_evolution_hero_img_small_desk {
  height: 400px;
}
#mtc_evolution_hero_img_small_screen {
  height: 350px;
}
#mtc_evolution_hero_img_small_tablet {
  height: 300px;
}
#mtc_evolution_hero_img_small_mobile {
  height: 300px;
}
#mtc_evolution_hero_img_small_tablet {
  display: none;
}
#mtc_evolution_hero_img_small_screen {
  display: none;
}
#mtc_evolution_hero_img_small_mobile {
  display: none;
}

@media (max-width: 1300px) {
  #mtc_evolution_hero_img_small_desk {
    display: none;
  }
  #mtc_evolution_hero_img_small_screen {
    display: block;
  }
}

@media (max-width: 940px) {
  #mtc_evolution_hero_img_small_screen {
    display: none;
  }

  #mtc_evolution_hero_img_small_tablet {
    display: block;
  }
}
@media (max-width: 750px) {
  #mtc_evolution_hero_img_small {
    width: 98vw;
  }
  #mtc_evolution_hero_img_small {
    justify-content: start;
  }
  #mtc_evolution_hero_img_small_tablet {
    display: none;
  }
  #mtc_evolution_hero_img_small_mobile {
    display: block;
  }
}

@media (max-width: 750px) {
  #mtc_evolution_hero_img_small {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
}

/* route style  */
#mtc_evolution_route {
  width: 100%;
  height: 45px;
  display: flex;
  max-width: 1180px;
  margin: 0px auto;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  gap: 11px;
  position: relative;
  min-width: 330px;
}
#mtc_evolution_route a {
  color: #000000e0;
  text-decoration: none;
}
#mtc_evolution_route > :last-child {
  font-weight: 700;
}

@media (max-width: 1300px) {
  #mtc_evolution_route {
    width: 880px;
  }
}
@media (max-width: 940px) {
  #mtc_evolution_route {
    width: 680px;
  }
}
@media (max-width: 750px) {
  #mtc_evolution_route {
    width: 90vw;
  }
}

.mtc_evolution_title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}

.mtc_evolution_text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 20px;
}
.mtc_evolution_text .bold {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.16px;
}

#mtc_evolution_footer_text {
  color: #a6a6a6;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.326px;
  margin-bottom: 40px;
}

.mtc_evolution_loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  display: none;
  justify-content: center;
  align-items: center;
}

.mtc_evolution_loading-spinner {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinSVG {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#mtc_evolution_loadingAnimationSVG svg,
#mtc_evolution_loadingAnimationSVG img {
  animation: spinSVG 2s linear infinite;
}

#mtc_evolution_loadingAnimationSVG {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  justify-content: center;
  align-items: center;
}

#mtc_evolution_loading_img {
  width: 180px;
  height: auto;
}

.mtc_evolution_glow_effect {
  position: relative;
  overflow: hidden;
}

.mtc_evolution_glow_effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 20%
  );
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.001s ease;
  z-index: 0;
  -webkit-transition: opacity 0.001s ease;
  -moz-transition: opacity 0.001s ease;
  -ms-transition: opacity 0.001s ease;
  -o-transition: opacity 0.001s ease;
}

.mtc_evolution_glow_effect:hover::before {
  opacity: 1;
}

.mtc_evolution_glow_effect > * {
  position: relative;
  z-index: 1;
}

.mtc_evolution_zoom {
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
}

.mtc_evolution_zoom:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.mtc_evolution_route_link:hover {
  text-decoration: underline !important;
}

.mtc_evolution_popup_block {
  width: 100%;
  height: 100%;
  background-color: rgba(14, 14, 14, 0.7);
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  overflow-y: auto;
  display: none;
  opacity: 0;
  transition: opacity 0.6s ease;
}
.mtc_evolution_popup_block.show {
  opacity: 1; /* Visible state */
}
.mtc_evolution_popup_block_inside {
  box-sizing: border-box;
  border-radius: var(--block_border_radius);
  padding: 40px;
  background: #fff;
  width: 95vw;
  max-width: 1100px;
  margin: 10vw 0 10vw 0;
  position: relative;
  font-size: 16px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  transform: translateY(30px);
  transition: transform 0.3s ease, opacity 0.6s ease;
  -webkit-transition: transform 0.3s ease, opacity 0.6s ease;
  -moz-transition: transform 0.3s ease, opacity 0.6s ease;
  -ms-transition: transform 0.3s ease, opacity 0.6s ease;
  -o-transition: transform 0.3s ease, opacity 0.6s ease;
}
.mtc_evolution_popup_block.show .mtc_evolution_popup_block_inside {
  transform: translateY(0);
  opacity: 1;
}

.mtc_evolution_popup_close_button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.mtc_evolution_btn {
  color: #3b6dfb;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  /*225%*/
  letter-spacing: 0.16px;
  display: flex;
  padding: 5px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #3b6dfb;
  width: max-content;
  transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
}

.mtc_evolution_btn:hover {
  background-color: #bbc4fa;
  border: 1px solid transparent;
}

/*-------------------------------------------*/
/*----- MTC footer -----*/

#mtc_footer {
  width: 1600px;
  margin: auto;
}
#mtc_footer_main {
  width: 100%;
  background-color: var(--mtc_blue);
  position: relative;
  z-index: 5;
  border-radius: 36px;
  box-sizing: border-box;
  padding: 0 0 10px 0;
}
#mtc_footer_top {
  width: 1200px;
  margin: auto;
  display: flex;
  padding: 27px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.mtc_footer_top_btn {
  color: #fff !important;
  font-family: "MTC-Futura New";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  border-radius: 100px;
  border: 1px solid #fff;
  padding: 10px 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
}

.mtc_footer_top_btn:hover {
  background: #ffffff30;
}
#mtc_footer_top_left {
  display: flex;
  gap: 15px;
}
#mtc_footer_top_right {
  display: flex;
  gap: 15px;
}

#mtc_footer_top_right:hover {
  transform: scale(1.05);
  transition: 0.3s;
  transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -webkit-transition: transform 0.3s linear;
}

.mtc_footer_bottom_right_social:hover {
  transform: scale(1.1);
  transition: 0.3s;
  transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -webkit-transition: transform 0.3s linear;
}

#mtc_footer_content {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: auto;
}
.mtc_footer_content_title {
  color: #fff;
  font-family: "MTC-Futura New";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: 20px;
}
.mtc_footer_content_column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
  margin: 10px;
  color: #fff;
  font-family: "MTC-Futura New";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
}
.mtc_footer_content_list {
  margin-bottom: 5px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

#mtc_footer_bottom {
  border-radius: 0px 0px 36px 36px;
  border: 2px solid #ddd;
  margin-top: -36px;
  display: flex;
  background: #fff;
  padding: 50px 15% 20px 15%;
  box-sizing: border-box;
  justify-content: space-between;
}
#mtc_footer_bottom_right {
  gap: 15px;
  display: flex;
}

.mtc_footer_bottom_right_social:hover {
  transform: scale(1.1);
  transition: 0.3s;
  transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -webkit-transition: transform 0.3s linear;
}
.mtc_footer_content_list:hover {
  transform: scale(1.07);
  color: #4359c8;
  transition: 0.3s;
  transition: transform 0.3s linear;
  transition: color 0.3s linear;
}

.mtc_bottom_buton {
  border: 2px solid var(--mtc_blue);
  border-radius: 100px;
  display: table;
  margin: 40px auto;
  text-align: center;
  font-size: 18px;
  color: var(--mtc_blue);
  padding: 10px 30px;
  cursor: pointer;
  font-family: "MTC-Futura New";
  font-weight: 500;
}

.mtc_arrow_container {
  display: inline-block;
  vertical-align: middle;
}

.mtc_bottom_buton_top {
  position: relative;
  top: 2px;
  margin-right: 10px;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  border-top: 2px solid var(--mtc_blue);
  border-right: 0px solid var(--mtc_blue);
  border-bottom: 0px solid var(--mtc_blue);
  border-left: 2px solid var(--mtc_blue);
}

.mtc_bottom_buton:hover {
  background: #00000030;
}

@media (max-width: 1700px) {
  #mtc_footer {
    width: 1300px;
  }
  #mtc_footer_content,
  #mtc_footer_top {
    width: 1000px;
  }
}

@media (max-width: 1400px) {
  .mtc_footer_content_column {
    width: 20%;
  }
  #mtc_footer_content,
  #mtc_footer_top {
    width: 800px;
  }
  #mtc_footer {
    width: 1000px;
  }
}

@media (max-width: 1100px) {
  #mtc_footer {
    width: 800px;
  }
  .mtc_footer_content_column {
    width: 25%;
  }
  #mtc_footer_content,
  #mtc_footer_top {
    width: 700px;
  }
  #mtc_footer_bottom_right {
    gap: 5px;
    margin-left: 10px;
    display: flex;
  }

  #mtc_footer_bottom {
    margin-top: -36px;

    padding: 50px 5% 20px 5%;
  }
}

@media (max-width: 900px) {
  #mtc_footer {
    width: 500px;
  }

  #mtc_footer_top {
    flex-direction: column;
    gap: 20px;
  }
  #mtc_footer_content,
  #mtc_footer_top {
    width: 400px;
  }

  #mtc_footer_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    padding-top: 45px;
  }
  #mtc_footer_bottom_right {
    gap: 10px;
    margin-left: 0px;
  }
  .mtc_footer_content_list {
    margin-bottom: 8px;
  }
}

@media (max-width: 550px) {
  #mtc_footer {
    width: 90vw;
  }
  #mtc_footer_top_left {
    flex-wrap: wrap;
    justify-content: center;
  }
  #mtc_footer_bottom_right {
    scale: 0.9;
  }
  #mtc_footer_content_column {
    width: 20%;
  }
  #mtc_footer_content,
  #mtc_footer_top {
    width: 90%;
  }
}

@media (max-width: 450px) {
  #mtc_footer_bottom_right {
    scale: 0.8;
  }

  .mtc_footer_content_column,
  .mtc_footer_content_title {
    font-size: 13px;
  }

  .mtc_footer_top_btn {
    padding: 5px 10px;
  }
}

@media (max-width: 400px) {
  #mtc_footer_top_svg {
    scale: 0.8;
  }

  #mtc_footer_bottom_right {
    scale: 0.7;
  }
  #mtc_footer_bottom_svg {
    scale: 0.9;
  }
  #mtc_footer_bottom {
    gap: 0px;
  }
}

@media (max-width: 350px) {
  #mtc_footer_bottom_right {
    scale: 0.6;
  }
  #mtc_footer_bottom_svg {
    scale: 0.8;
  }
}
